{% extends "base.html" %}

{% block content %} 

<!DOCTYPE html>
 <html lang="en">
 <div class="container-fluid no-padding">
     <div class="container">
         <div class="row" width="100%">
             <div class="col-md-4 widget-container">
                 <div class="widget-item">Widget</div>
             </div>
             <div class="col-md-4 widget-container">
                 <div class="widget-item">Widget</div>
             </div>
             <div class="col-md-4 widget-container">
                 <div class="widget-item">Widget</div>
             </div>
         </div>
     </div>
</div>
 
<script>
 $("#menu-toggle").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled");
 });
</script>
</html> 

{% endblock %}